In [220]:
import pandas as pd

In [221]:
flooding2014 = pd.read_csv('input/SR2014.csv')

In [222]:
flooding2014.columns = flooding2014.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [223]:
flooding2014 = flooding2014[flooding2014.service_request_type =='Catch Basin - Blocked / Flooding']

In [224]:
flooding2014.head()

,creation_date,status,first_3_chars_of_postal_code,intersection_street_1,intersection_street_2,ward,service_request_type,division,section
442,2014-01-02 08:34:09.0000000,Closed,M6S,NaN,NaN,Parkdale-High Park (13),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations
2547,2014-01-03 11:45:10.0000000,Closed,M1K,NaN,NaN,Scarborough Centre (37),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations
5637,2014-01-06 02:35:16.0000000,Closed,Intersection,Morningside Ave,Ellesmere Rd,Scarborough East (44),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations
5638,2014-01-06 02:36:02.0000000,Cancelled,Intersection,Morningside Ave,Ellesmere Rd,Scarborough East (44),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations
5642,2014-01-06 03:08:44.0000000,Closed,Intersection,Donlands Ave,Leaside Bdge,Toronto-Danforth (29),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations

In [225]:
flooding2014['dates'] = pd.to_datetime(flooding2014['creation_date']).dt.date

In [226]:
flooding2014['time'] = pd.to_datetime(flooding2014['creation_date']).dt.time

In [227]:
flooding2014['year'] = pd.to_datetime(flooding2014['creation_date']).dt.year

In [228]:
flooding2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5113 entries, 442 to 445886
Data columns (total 12 columns):
creation_date                   5113 non-null object
status                          5113 non-null object
first_3_chars_of_postal_code    5113 non-null object
intersection_street_1           659 non-null object
intersection_street_2           659 non-null object
ward                            5113 non-null object
service_request_type            5113 non-null object
division                        5113 non-null object
section                         5113 non-null object
dates                           5113 non-null object
time                            5113 non-null object
year                            5113 non-null int64
dtypes: int64(1), object(11)
memory usage: 519.3+ KB

In [229]:
counts14 = flooding2014.dates.value_counts().reset_index()

In [230]:
counts14.head()

        index  dates
0  2014-02-21    467
1  2014-02-20    452
2  2014-02-19    334
3  2014-10-16    333
4  2014-01-11    278

In [231]:
counts14 = counts14.rename(index=str, columns={"index": "date", "dates": "counts"})

In [232]:
counts14 = counts14.sort_values('date')

In [233]:
counts14['date'] = pd.to_datetime(counts14['date'])

In [234]:
counts14.info()
counts14.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 323 to 308
Data columns (total 2 columns):
date      324 non-null datetime64[ns]
counts    324 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 7.6+ KB

          date  counts
323 2014-01-02       1
315 2014-01-03       1
19  2014-01-06      42
192 2014-01-07       4
201 2014-01-08       4
67  2014-01-09      12
5   2014-01-10     129
4   2014-01-11     278
15  2014-01-12      52
11  2014-01-13      72

In [235]:
idx = pd.date_range(start = '2014-01-01', end = '2014-12-31', freq = 'D')

In [236]:
counts14 = counts14.set_index('date').reindex(idx, fill_value='0')

In [237]:
print(counts14)

           counts
2014-01-01      0
2014-01-02      1
2014-01-03      1
2014-01-04      0
2014-01-05      0
2014-01-06     42
2014-01-07      4
2014-01-08      4
2014-01-09     12
2014-01-10    129
2014-01-11    278
2014-01-12     52
2014-01-13     72
2014-01-14     44
2014-01-15      7
2014-01-16      7
2014-01-17      8
2014-01-18      5
2014-01-19      0
2014-01-20      5
2014-01-21      2
2014-01-22      3
2014-01-23      2
2014-01-24      1
2014-01-25      1
2014-01-26      1
2014-01-27      7
2014-01-28      5
2014-01-29      9
2014-01-30      2
...           ...
2014-12-02      2
2014-12-03      4
2014-12-04      0
2014-12-05      4
2014-12-06      2
2014-12-07      0
2014-12-08      1
2014-12-09      0
2014-12-10      4
2014-12-11      4
2014-12-12      9
2014-12-13      5
2014-12-14      3
2014-12-15      3
2014-12-16      7
2014-12-17     10
2014-12-18      1
2014-12-19      1
2014-12-20      0
2014-12-21      0
2014-12-22      3
2014-12-23      0
2014-12-24      2
2014-12-25      1
2014-12-26      2
2014-12-27      3
2014-12-28      0
2014-12-29      2
2014-12-30      0
2014-12-31      1

[365 rows x 1 columns]