In [2]:
import pandas as pd

In [3]:
import numpy as np

In [75]:
import random

In [76]:
import datetime as dt

# Prepre the 10-year 311 reports and merge into one data set

In [4]:
file2010 = pd.read_csv('SR2010.csv')

In [5]:
file2011 = pd.read_csv('SR2011.csv')

In [6]:
file2012 = pd.read_csv('SR2012.csv')

In [7]:
file2013 = pd.read_csv('SR2013.csv')

In [8]:
file2014 = pd.read_csv('SR2014.csv')

In [9]:
file2015 = pd.read_csv('SR2015.csv')

In [10]:
file2016 = pd.read_csv('SR2016.csv')

In [11]:
file2017 = pd.read_csv('SR2017.csv')

In [12]:
file2018 = pd.read_csv('SR2018.csv')

In [13]:
file2019 = pd.read_csv('SR2019.csv')

# The 10-year data into a big file named after "toronto311"

In [14]:
toronto311 = pd.concat([file2010, file2011, file2012, file2013, file2014, file2015, file2016, file2017, file2017, file2018, file2019])

In [15]:
toronto311.to_csv('toronto311.csv')

# Format the header, eg. remove white spaces and change into lower cases

In [16]:
toronto311.columns = toronto311.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [17]:
toronto311.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3816984 entries, 0 to 78693
Data columns (total 9 columns):
creation_date                   object
status                          object
first_3_chars_of_postal_code    object
intersection_street_1           object
intersection_street_2           object
ward                            object
service_request_type            object
division                        object
section                         object
dtypes: object(9)
memory usage: 291.2+ MB

In [18]:
toronto311.head(5)

,creation_date,status,first_3_chars_of_postal_code,intersection_street_1,intersection_street_2,ward,service_request_type,division,section
0,2010-01-01 00:38:26.0000000,Closed,Intersection,High Park Blvd,Parkside Dr,Parkdale-High Park (13),Road - Sanding / Salting Required,Transportation Services,Road Operations
1,2010-01-01 01:19:18.0000000,Closed,M4T,NaN,NaN,Toronto Centre-Rosedale (27),Water Service Line-Turn On,Toronto Water,District Ops
2,2010-01-01 01:19:48.0000000,Cancelled,M1T,NaN,NaN,Scarborough-Agincourt (40),Water Service Line-Leaking,Toronto Water,District Ops
3,2010-01-01 01:24:18.0000000,Cancelled,M1T,NaN,NaN,Scarborough-Agincourt (40),Water Service Line-Leaking,Toronto Water,District Ops
4,2010-01-01 01:42:26.0000000,Closed,M1K,NaN,NaN,Scarborough Southwest (35),Watermain-Possible Break,Toronto Water,District Ops

## Q: What is the most reported problems? A: The services about organic bins.

In [19]:
toronto311.service_request_type.value_counts()

Property Standards                                 127965
Res / Organic Bin / Replace Damaged                124416
Residential Furniture / Not Picked Up              109302
Road - Pot hole                                     97685
Sewer Service Line-Blocked                          97634
General Pruning                                     94345
CADAVER WILDLIFE                                    90610
Storm Clean Up                                      81514
Res / Garbage / Not Picked Up                       79509
Res / Recycle / Not Picked Up                       74355
Res / Organic Green Bin / Not Picked Up             71038
Noise                                               65727
INJUR/DIST WILDLIFE                                 60375
Publication Request - Solid Waste                   60272
Water Service Line-Turn Off                         56814
Residential: Garbage Bin: Exchange to Medium        56573
Residential: Bin: Repair or Replace Lid             54402
Residential: Bin: Repair or Replace Body/Handle     50666
Residential: Garbage Bin: Exchange to Small         48565
Waste                                               47543
Residential:Recycle Bin:Exchange to Extra Large     45981
Missing/Damaged Signs                               44694
Road - Cleaning/Debris                              43472
All / Hazardous Waste / Pick Up Request             43403
Long Grass and Weeds                                42771
Stemming                                            42686
Operator / Operations Complaint                     41346
Zoning                                              40535
Res / Organic Bin / Replace Missing                 39850
Residential / Yard Waste / Not Picked Up            39223
                                                    ...
Recycle / Park / Bin Graffiti on Bin                    5
FEL Non-Res Yard Waste / Not Picked Up                  5
ABCD's / Garbage Container / Missing Damaged            5
ABCD's / Recycle / Additional Container                 4
Publication Request - Accessibility                     4
Call Back Request - IT                                  3
Comm / Organic Container / Missing Damaged              3
Application Mail Out / Non-Res                          3
Staff Complaint                                         3
ENF/INVEST TIED COLAR                                   2
Property Damaged/PRM                                    2
311 Staff Complaint                                     2
SERVICES WILD EDUC                                      2
TAS_COYOT RESP HU-BITE                                  2
Application Status / Non-Res                            2
FEL Non-Res Xmas Tree / Not Picked Up                   2
Water Meter - Removal / Demolition                      2
Tow Truck Complaint                                     1
Public Transit Loading Zone                             1
Water Meter-Seasonal Installation                       1
Water and Sewer Service Applications                    1
ENF/INVEST COLLAR                                       1
Storm Event-Flooding                                    1
Ravine Clr Park Access Permit                           1
311 Staff Compliment                                    1
SERVICES COMM EVENT                                     1
OWNER SURR DECEASED                                     1
Angle Parking                                           1
SERVICES FOUND REP                                      1
Development Applications                                1
Name: service_request_type, Length: 619, dtype: int64

## Creat a dataframe about all the flooding complaints and format the date and time columns

In [20]:
flooding = toronto311[toronto311.service_request_type == 'Catch Basin - Blocked / Flooding']

In [21]:
flooding['creation_date']=pd.to_datetime(flooding['creation_date'])

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
flooding['Dates'] = pd.to_datetime(flooding['creation_date']).dt.date

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
flooding['time'] = pd.to_datetime(flooding['creation_date']).dt.time

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
flooding['year'] = pd.to_datetime(flooding['creation_date']).dt.year

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
flooding['day'] = pd.to_datetime(flooding['creation_date']).dt.day

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
flooding.head(10)

,creation_date,status,first_3_chars_of_postal_code,intersection_street_1,intersection_street_2,ward,service_request_type,division,section,Dates,time,year,day
70,2010-01-01 18:29:17,Closed,M6N,NaN,NaN,York South-Weston (11),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-01,18:29:17,2010,1
727,2010-01-04 10:49:12,Closed,M6M,NaN,NaN,York South-Weston (12),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-04,10:49:12,2010,4
3218,2010-01-07 18:56:14,Closed,Intersection,Islington Ave,Rexdale Blvd,Etobicoke North (02),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-07,18:56:14,2010,7
4424,2010-01-11 10:28:13,Closed,M5M,NaN,NaN,Eglinton-Lawrence (16),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-11,10:28:13,2010,11
6205,2010-01-14 11:42:18,Closed,M8X,NaN,NaN,Etobicoke-Lakeshore (05),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-14,11:42:18,2010,14
6438,2010-01-14 15:57:54,Closed,M8Y,NaN,NaN,Etobicoke-Lakeshore (05),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-14,15:57:54,2010,14
6586,2010-01-15 07:40:26,Closed,M9N,NaN,NaN,York South-Weston (11),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-15,07:40:26,2010,15
6818,2010-01-15 11:19:05,Closed,M6H,NaN,NaN,Davenport (18),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-15,11:19:05,2010,15
6882,2010-01-15 12:30:17,Closed,M1X,NaN,NaN,Scarborough-Rouge River (42),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-15,12:30:17,2010,15
7101,2010-01-15 16:34:57,Closed,M4J,NaN,NaN,Toronto-Danforth (29),Catch Basin - Blocked / Flooding,Transportation Services,Road Operations,2010-01-15,16:34:57,2010,15

In [27]:
flooding.to_csv('flooding.csv')

###### Among 3345 dats from Jan 1, 2010 to Feb 28, 2019 (the latest update of the data), 2680 days have complaints on flooding.

In [28]:
flooding_date = flooding.Dates.value_counts().reset_index()

In [29]:
flooding_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680 entries, 0 to 2679
Data columns (total 2 columns):
index    2680 non-null object
Dates    2680 non-null int64
dtypes: int64(1), object(1)
memory usage: 41.9+ KB

In [37]:
flooding_date = flooding_date.rename(index=str, columns={"index": "date", "Dates": "counts"})

In [38]:
flooding_date.head(5)

         date  counts
0  2014-02-21     467
1  2014-02-20     452
2  2014-02-19     334
3  2014-10-16     333
4  2014-01-11     278

In [39]:
flooding_date['date'] = pd.to_datetime(flooding_date['date'])

In [41]:
flooding_date.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2680 entries, 0 to 2679
Data columns (total 2 columns):
date      2680 non-null datetime64[ns]
counts    2680 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 62.8+ KB

In [43]:
flooding_date.to_csv('flooding_date.csv')

In [45]:
flooding_date = pd.read_csv('flooding_date.csv')

In [51]:
flooding_date.head()

   Unnamed: 0        date  counts  year  Unnamed: 4
0        2500  2010-01-01       1  2010         NaN
1        2453  2010-01-04       1  2010         NaN
2        2143  2010-01-07       1  2010         NaN
3        2229  2010-01-11       1  2010         NaN
4        1858  2010-01-14       2  2010         NaN

In [67]:
idx = pd.date_range('2010-01-01', '2019-02-28')

In [69]:
flooding_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2680 entries, 0 to 2679
Data columns (total 5 columns):
Unnamed: 0    2680 non-null int64
date          2680 non-null object
counts        2680 non-null int64
year          2680 non-null int64
Unnamed: 4    0 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 104.8+ KB

In [77]:
flooding_date.index = pd.DatetimeIndex(flooding_date.index)

In [78]:
flooding_date.head()

            Unnamed: 0 date  counts  year  Unnamed: 4
2010-01-01           0    0       0     0         0.0
2010-01-02           0    0       0     0         0.0
2010-01-03           0    0       0     0         0.0
2010-01-04           0    0       0     0         0.0
2010-01-05           0    0       0     0         0.0